{% extends 'website/base.html'%}
{% block title%} About {% endblock %}
{% block module_abactive %} active {% endblock module_abactive %}
{% load static %}
{% block content %}
<div class='sidebar-content'>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card__title">DHRUMIL PATEL</h5>
                <p class="card__apply">K J SOMAIYA COLLEGE OF ENGINEERING , ELECTRONICS AND TELECOMMUNICATION ENGINEERING<br><br>
                  <a href="https://www.linkedin.com/in/dhrumil-patel-02b92a1b2">LinkedIn Profile</a></p>
              </div>
            </div>
          </div>
        
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card__title">AKSHARA MEHTA</h5>
                <p class="card__apply">K J SOMAIYA COLLEGE OF ENGINEERING , ELECTRONICS AND TELECOMMUNICATION ENGINEERING<br><br>
                  <a href="https://www.linkedin.com/in/akshara-mehta-b759271b2">LinkedIn Profile</a></p>
              </div>
            </div>
          </div>
        
        <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card__title">AKSHARA MEHTA</h5>
                <p class="card__apply">K J SOMAIYA COLLEGE OF ENGINEERING , ELECTRONICS AND TELECOMMUNICATION ENGINEERING<br><br>
                  <a href="https://www.linkedin.com/in/akshara-mehta-b759271b2">LinkedIn Profile</a></p>
              </div>
            </div>
          </div>
        
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card__title">AASH SHAH</h5>
                <p class="card__apply">K J SOMAIYA COLLEGE OF ENGINEERING , ELECTRONICS AND TELECOMMUNICATION ENGINEERING<br><br>
                  <a href="https://www.linkedin.com/in/aash-shah-10a9951aa">LinkedIn Profile</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card__title">RAJ RANA</h5>
                <p class="card__apply">K J SOMAIYA COLLEGE OF ENGINEERING , ELECTRONICS AND TELECOMMUNICATION ENGINEERING<br><br>
                  <a href="https://www.linkedin.com/in/rajrana03">LinkedIn Profile</a></p>
              </div>
            </div>
          </div>
         
    </div>
</div>
</div>
{% endblock %}
