{%extends 'website/base.html'%}
{% block title%} Home {% endblock %} 
{% block homeactive %} active {% endblock homeactive %}
{% load static %}
{% block content %}

{% if messages %}
        {% for message in messages %}
         {% if message.tags %}<script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
{% endif %}

<div class='sidebar-content'>
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/CCNA 1.png' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/CCNA 2.png' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/Learn CCNA.jpg' %}" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        
        <br>   
    </div>
    <div class='container'>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card__title">WHAT IS CCNA EXAM?</h5>
                    <p class="card__apply">-CCNA (Cisco Certified Network Associate) is an IT certification from Cisco.<br>
                      -The CCNA is designed to validate your knowledge on fundamental networking concepts.<br>-You can become CCNA certified by taking and passing a single exam – the CCNA 200-301</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card__title">WHY LEARN CCNA?</h5>
                    <p class="card__apply">The basic concepts of networking such as:<br>
                      LAN/WAN,
                      TCP/IP model,
                      Switches and routers,
                      Network utilities (ping, tracert, arp),
                      IP addressing and subnetting,
                      VLANs and trunking,
                      Routing protocols such as OSPF,
                      WLAN,
                      NAT and ACLs and
                      Automation and programmability</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card__title">WHAT YOU WILL LEARN?</h5>
                    <p class="card__apply">-The CCNA certification is accepted all around the world.<br>
                    -Professionals armed with the coveted CCNA certificate are entitled to get higher paying jobs when compared to their non-certified counterparts.<br>-CCNA certification processes are enhancing the knowledge base of networking experts – and in many more ways than one!<br>-The knowledge acquired through the CCNA certificate will help you solve more problems in networking.<br>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card__title">FUTURE SCOPE</h5>
                    <p class="card__apply">-CCNA's scope lies in the wide range of software developers and network administrators.CCNA jobs for freshers in recent days have increased with the development in technologies.<br>
                     -CCNA in India will grow huge because Network automation and programming will take around 70% of focus in any IT organization and anyone with the CCNA, CCNP, CCIE Certifications training will be the ones getting hired.</p>
                  </div>
                </div>
              </div>
              
        </div>
    </div>
</div>
{% endblock %}
