{% extends 'website/base.html'%}
{% block title%} Module 4 {% endblock %}
{% block module_4active %} active {% endblock module_4active %}
{% load static %}
{% block content %}
<div class="container modules">
  <div class='sidebar-content'>
    <h1 class="text-center">Module 4 : IP Services</h1>
    <div class="card-body p-0">
      <div class="flex flex-column  mt-4 faq-section">
        <div class="row">
          <div class="col-md-12">
            <div id="accordion">
              <div class="card mb-4">
                <div class="card-header" id="heading-1">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.1' sub_modno='-' %}">
                      4.1 Configure and verify inside source NAT using static and pools
                    </a>
                  </h5>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.2' sub_modno='-' %}">
                      4.2 Configure and verify NTP operating in a client and server mode
                    </a>
                  </h5>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.3' sub_modno='-' %}">
                      4.3 Explain the role of DHCP and DNS within the network
                    </a>
                  </h5>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.4' sub_modno='-' %}">
                      4.4 Explain the function of SNMP in network operations
                    </a>
                  </h5>
                </div>
              </div>

              <div class="card mb-4">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.5' sub_modno='-' %}">
                      4.5 Describe the use of syslog features including facilities and levels
                    </a>
                  </h5>
                </div>
              </div>


              <div class="card mb-4">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.6' sub_modno='-' %}">
                      4.6 Explain the forwarding per-hop behavior (PHB) for QoS such as classification, marking, 
                queuing, congestion, policing, shaping
                    </a>
                  </h5>
                </div>
              </div>


              <div class="card mb-4">
                <div class="card-header" id="heading-2">
                  <h5 class="mb-0">
                    <a href="{% url 'dynamic' model_class='4' mod_no='4.7' sub_modno='-' %}">
                     4.7 Describe the capabilities and function of TFTP/FTP in the network
                    </a>
                  </h5>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
