{% extends 'website/base.html'%}
{% block title%} Module 3 {% endblock %}
{% block module_3active %} active {% endblock module_3active %}
{% load static %}
{% block content %}
<div class="container modules">
    <div class='sidebar-content'>
        <h1 class="text-center">Module 3 : IP Connectivity</h1>
        <div class="card-body p-0">
            <div class="flex flex-column  mt-4 faq-section">
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion">
                            <div class="card mb-4">
                                <div class="card-header" id="heading-1">
                                    <h5 class="mb-0">
                                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                                            aria-controls="collapse-1">
                                            3.1 Interpret the components of routing table
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-1" class="collapse" data-parent="#accordion"
                                    aria-labelledby="heading-1">
                                    <div class="card-body">
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='a' %}">3.1 a Routing protocol code</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='b' %}">3.1 b Prefix</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='c' %}">3.1 c Network mask</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='d' %}">3.1 d Next Hop</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='e' %}">3.1 e Administrative distance</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='f' %}">3.1 f Metric</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.1' sub_modno='g' %}">3.1 g Gateway of last resort</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-header" id="heading-2">
                                    <h5 class="mb-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2"
                                            aria-expanded="false" aria-controls="collapse-2">
                                            3.2 Determine how a router makes a forwarding decision by default
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-2" class="collapse" data-parent="#accordion"
                                    aria-labelledby="heading-2">
                                    <div class="card-body">
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.2' sub_modno='a' %}">3.2 a Longest Match</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.2' sub_modno='b' %}">3.2 b Administrative distance</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.2' sub_modno='c' %}">3.2 c Routing protocol metric</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-header" id="heading-2">
                                    <h5 class="mb-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                                            aria-expanded="false" aria-controls="collapse-2">
                                            3.3 Configure and verify IPv4 and IPv6 static routing
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-3" class="collapse" data-parent="#accordion"
                                    aria-labelledby="heading-2">
                                    <div class="card-body">
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.3' sub_modno='a' %}">3.3 a IPv4 Static routes default, network, host, and floating routes configuration</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.3' sub_modno='b' %}">3.3 b IPv6 Static routes default, network, host, and floating routes configuration</a><br>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-header" id="heading-2">
                                    <h5 class="mb-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4"
                                            aria-expanded="false" aria-controls="collapse-2">
                                            3.4 Configure and verify single area OSPFv2
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-4" class="collapse" data-parent="#accordion"
                                    aria-labelledby="heading-2">
                                    <div class="card-body">
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.4' sub_modno='a' %}">3.4 a Concept of single area OSPFv2</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.4' sub_modno='b' %}">3.4 b Configure and verify single area OSPFv2</a><br>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-4">
                                <div class="card-header" id="heading-2">
                                    <h5 class="mb-0">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5"
                                            aria-expanded="false" aria-controls="collapse-2">
                                            3.5 Describe the purpose of first hop redundancy protocol
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse-5" class="collapse" data-parent="#accordion"
                                    aria-labelledby="heading-2">
                                    <div class="card-body">
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.5' sub_modno='a' %}">3.5 a First Hop Redundancy Protocol</a><br>
                                        <a href="{% url 'dynamic' model_class='3' mod_no='3.5' sub_modno='b' %}">3.5 b HSRP Lab</a><br>                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
